<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.storybookapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/annefrank"
        android:label="@string/app_name"
        android:roundIcon="@drawable/annefrank"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Activities.OpeningActivity"
            android:label="@string/title_activity_opening"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Views.CurrentStoryView" />
        <activity android:name=".Activities.CurrentStoriesActivity" />
        <activity android:name=".Activities.NewStoryActivity" />
        <activity android:name=".Views.HomeView" />
        <activity android:name=".Views.ProfileView" />
        <activity android:name=".Activities.SignUpActivity" />
        <activity android:name=".Activities.LogInActivity" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>